#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	mkdir -p .build_doxygen/doxygen/html
	mkdir -p .build_doxygen/man
	doxygen

override_dh_installdocs:
	make -f Makefile.man2html build
	dh_installdocs

override_dh_auto_install:

override_dh_auto_clean:
	rm -Rfv .build_doxygen
	dh_auto_clean